.chooser__wrapper {
  position: relative;
  display: inline-block;
}

.chooser__current,
.chooser__item {
  cursor: pointer;
}

.chooser__item.disabled {
  pointer-events: none;
}

.chooser__current {
  position: relative;
  font-family: inherit;
  font-size: inherit;
}

.chooser__list {
  position: absolute;
  width: 100%;
  display: none;
  list-style: none;
  opacity: 0;
  visibility: hidden;
}

.chooser__list.open {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

[data-chooser_current]:not(.chooser__input) {
  width: 100%;
  display: inline-block;
  pointer-events: none;
}

