$colorLight: #ffffff;
$colorGrey_2: #374151;
$colorGrey_5: #9ca3af;
$colorGrey_6: #E5E5E5;
$colorGrey_7: #F3F4F6;
$colorGrey_opacity: rgba(0, 82, 255, 0.1);
$colorPrimary: #116ACC;
$colorPrimary__light: #A0C3FF;
$colorPrimary_opacity_1: #4a8cd1;
$colorPrimary_opacity_2: #94bbe4;
$colorPrimary_opacity_3: #c8ddf2;
$colorPrimary_shade_1: #014080;
$colorSecondary: #182233;
$colorSecondary_3: #D9DDE7;
$colorSecondary_4: #FD4E5D;
$colorWrong: #EB5757;
$colorSuccess: #27AE60;


// $colorPrimary:

$transitionTimePrimary: 0.3s;
